<div class="container">
  <input type="text" class="form-control" name="search" id="searchWord" [(ngModel)]="searchWord" (keyup)="searchVideo()">
  <table class="table table-striped">
    <thead>
      <tr class="text-center">
        <th>ID</th>
        <th>Ref</th>
        <th>Title</th>
        <th>Description</th>
        <th>url</th>
        <th>Public</th>
        <th>nbrShared</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let video of list, let i= index" class="text-center">
        <td>{{video.id}}</td>
        <td>{{video.ref}}</td>
        <td>{{video.title}}</td>
        <td>{{video.description}}</td>
        <td>{{video.url}}</td>
        <td>{{video.public}}</td>
        <td>{{video.nbeShared}}</td>
        <td>
          <button class="btn btn-sm btn-warning" *ngIf="video.public" (click)="incrementShare(video)">
          partager </button>
          <button class="btn btn-sm btn-warning float-end"  (click)="delete(video.id, i)">
          supprimer </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
